#translate {
    & img {
        transform: translate(5rem, 50%);
        transform-origin: center center;
        width: 3rem;
    }
}

#scale {
    & img {
        transform: scale(2, 0.5);
        transform-origin: center center;
        width: 3rem;
    }
}

#skew {
    & img {
        transform: skewX(10deg) skewY(10deg);
        transform-origin: center center;
        width: 3rem;
    }
}

#rotate {
    & img {
        transform: rotate(10deg);
        transform-origin: bottom left;
        width: 3rem;
    }
}

#transitionShorthand {
    & img {
        transition: all 1s ease-in-out 0s;
        width: 3rem;
    }
    & img:hover {
        rotate: 180deg;
    }
}

#transitionLonghand {
    & img {
        transition-property: all;
        transition-duration: 1s;
        transition-timing-function: ease-in-out;
        transition-delay: 0s;
        width: 3rem;
    }
    & img:hover {
        rotate: 180deg;
    }
}

#animationShorthand {
    overflow: hidden;
    & img {
        animation: slideIn 5s ease-in-out 1s infinite alternate forwards;
        width: 3rem;
    }
}

#animationLonghand {
    overflow: hidden;
    & img {
        animation-name: slideIn;
        animation-duration: 5s;
        animation-timing-function: ease-in-out;
        animation-delay: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-fill-mode: forwards;
        width: 3rem;
    }
}

#keyframe {
    overflow: hidden;
    & img {
        animation-name: slideIn;
        animation-duration: 5s;
        animation-timing-function: ease-in-out;
        animation-delay: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-fill-mode: forwards;
        width: 3rem;
    }
}

@keyframes slideIn {
    from {
        translate: 100vw 0;
        scale: 200% 1;
    }
    to {
        translate: 0 0;
        scale: 100% 1;
    }
}