#textShorthand p {
    font: italic small-caps bold 16px/1.5 'Arial', sans-serif;
}

#textLonghand p {
    font-style: italic;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Arial', sans-serif;
}

#backgroundShorthand {
    background: black url('../assets/css.png') repeat center/10% local padding-box;
    width: 100%;
    height: 100%;
}

#backgroundLonghand {
    background-color: black;
    background-image: url('../assets/css.png');
    background-repeat: repeat;
    background-position: center;
    background-size: 10%;
    background-attachment: local;
    background-origin: padding-box;
    width: 100%;
    height: 100%;
}

#inlineStatic {
    & span {
        display: inline;
        margin: 10px 20px 15px 25px;
        border: 1px solid #000;
        padding: 10px 20px 15px 25px;
        box-sizing: border-box;
        overflow: scroll;
        position: static;
        z-index: 1;
    }
}

#inlineRelative {
    & span {
        display: inline;
        margin: 10px 20px 15px 25px;
        border: 1px solid #000;
        padding: 10px 20px 15px 25px;
        box-sizing: border-box;
        overflow: scroll;
        position: relative;
        z-index: 1;
        top: 30px;
    }
}

#inlineAbsolute {
    position: relative;

    & span {
        display: inline;
        margin: 10px 20px 15px 25px;
        border: 1px solid #000;
        padding: 10px 20px 15px 25px;
        box-sizing: border-box;
        overflow: scroll;
        position: absolute;
        z-index: 1;
        top: 30px;
    }
}

#inlineFixed {
    & span {
        display: inline;
        margin: 10px 20px 15px 25px;
        border: 1px solid #000;
        padding: 10px 20px 15px 25px;
        box-sizing: border-box;
        overflow: scroll;
        position: fixed;
        z-index: -1;
        top: 180px;
        left: 180px;
    }

    &:hover {
        :first-child {
            z-index: 1;
        }
    }
}

#inlineSticky {
    & span {
        display: inline;
        margin: 10px 20px 15px 25px;
        border: 1px solid #000;
        padding: 10px 20px 15px 25px;
        box-sizing: border-box;
        overflow: scroll;
        position: sticky;
        z-index: 1;
        top: 0;
    }
}

#blockStatic {
    & div {
        display: block;
        margin: 10px 20px 15px 25px;
        border: 1px solid #000;
        padding: 10px 20px 15px 25px;
        box-sizing: border-box;
        overflow: scroll;
        position: static;
        z-index: 1;
    }
}

#blockRelative {
    & div {
        display: block;
        margin: 10px 20px 15px 25px;
        border: 1px solid #000;
        padding: 10px 20px 15px 25px;
        box-sizing: border-box;
        overflow: scroll;
        position: relative;
        z-index: 1;
        top: 30px;
    }
}

#blockAbsolute {
    position: relative; /*In order to achieve the real effect of the absolute position*/

    & div {
        display: block;
        margin: 10px 20px 15px 25px;
        border: 1px solid #000;
        padding: 10px 20px 15px 25px;
        box-sizing: border-box;
        overflow: scroll;
        position: absolute;
        z-index: 1;
        top: 30px;
    }
}

#blockFixed {
    & div {
        display: block;
        margin: 10px 20px 15px 25px;
        border: 1px solid #000;
        padding: 10px 20px 15px 25px;
        box-sizing: border-box;
        overflow: scroll;
        position: fixed;
        z-index: -1;
        top: 180px;
        left: 180px;
    }

    &:hover {
        :first-child {
            z-index: 1;
        }
    }
}

#blockSticky {
    & div {
        display: block;
        margin: 10px 20px 15px 25px;
        border: 1px solid #000;
        padding: 10px 20px 15px 25px;
        box-sizing: border-box;
        overflow: scroll;
        position: sticky;
        z-index: 1;
        top: 0;
    }
}

#flexboxRowContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;

    gap: 10px;
    padding: 10px;
    border: 1px solid #000;

    .flexboxRow {
        flex: 1 1 100px;
        justify-self: center;
        align-self: center;

        border: 1px solid #000;
    }
}

#flexboxColumnContainer {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;

    gap: 10px;
    padding: 10px;
    border: 1px solid #000;

    .flexboxColumn {
        flex: 1 1 100px;
        justify-self: center;
        align-self: center;

        border: 1px solid #000;
    }
}

#gridAutoRowContainer {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-auto-flow: row;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;

    gap: 10px;
    padding: 10px;
    border: 1px solid #000;

    .gridAutoRow {
        justify-self: center;
        align-self: center;

        border: 1px solid #000;
    }
}

#gridAutoColumnContainer {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-auto-flow: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;

    gap: 10px;
    padding: 10px;
    border: 1px solid #000;

    .gridAutoColumn {
        justify-self: center;
        align-self: center;

        border: 1px solid #000;
    }
}

#gridTemplateContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "a b b"
    "c d d"
    "c d d";
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;

    gap: 10px;
    padding: 10px;
    border: 1px solid #000;

    .a {
        grid-area: a;
        justify-self: center;
        align-self: center;

        border: 1px solid #000;
        height: 100%;
        width: 100%;
    }

    .b {
        grid-area: b;
        justify-self: center;
        align-self: center;

        border: 1px solid #000;
        height: 100%;
        width: 100%;
    }

    .c {
        grid-area: c;
        justify-self: center;
        align-self: center;

        border: 1px solid #000;
        height: 100%;
        width: 100%;
    }

    .d {
        grid-area: d;
        justify-self: center;
        align-self: center;

        border: 1px solid #000;
        height: 100%;
        width: 100%;
    }
}

#translate {
    & img {
        transform: translate(5rem, 50%);
        transform-origin: center center;
        width: 3rem;
    }
}

#scale {
    & img {
        transform: scale(2, 0.5);
        transform-origin: center center;
        width: 3rem;
    }
}

#skew {
    & img {
        transform: skewX(10deg) skewY(10deg);
        transform-origin: center center;
        width: 3rem;
    }
}

#rotate {
    & img {
        transform: rotate(10deg);
        transform-origin: bottom left;
        width: 3rem;
    }
}

#transitionShorthand {
    & img {
        transition: all 1s ease-in-out 0s;
        width: 3rem;
    }

    & img:hover {
        rotate: 180deg;
    }
}

#transitionLonghand {
    & img {
        transition-property: all;
        transition-duration: 1s;
        transition-timing-function: ease-in-out;
        transition-delay: 0s;
        width: 3rem;
    }

    & img:hover {
        rotate: 180deg;
    }
}

#animationShorthand {
    overflow: hidden;

    & img {
        animation: slideIn 5s ease-in-out 1s infinite alternate forwards;
        width: 3rem;
    }
}

#animationLonghand {
    overflow: hidden;

    & img {
        animation-name: slideIn;
        animation-duration: 5s;
        animation-timing-function: ease-in-out;
        animation-delay: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-fill-mode: forwards;
        width: 3rem;
    }
}

@keyframes slideIn {
    from {
        translate: 100vw 0;
        scale: 200% 1;
    }
    to {
        translate: 0 0;
        scale: 100% 1;
    }
}