.container {
    display: flex;

    height: 100vh;

    justify-content: center;
    align-items: center;
}

.form {
    display: flex;

    flex-direction: column;
    gap: 1.5rem;
}

.error {
    color: var(--cyber-yellow);
}