# idea
/.idea/
.env*.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# misc
.DS_Store
*.pem
.env*

# typescript
*.tsbuildinfo

# Next
/apps/frontend/.next/

# Node
node_modules/

# Nest
/apps/backend/dist/

# Jest
/coverage

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/