body {
    font-family: 'Malgun Gothic', sans-serif;
    display: grid;
    grid-template-columns: 10rem 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header header"
        "aside main"
        "footer footer";
    overflow: auto;
    & h2 {
        background-color: gray;
    }
    & code {
        display: block;
        font-size: 12px;
        line-height: 2;
        padding: 0.5rem;
        background-color: lightgray;
        border-radius: 1rem;
    }
    & img {
        max-width: 100%;
    }
}

header {
    grid-area: header;
    position: sticky;
    top: 0;
    background-color: lightskyblue;
    opacity: 0.8;
    width: 100%;
}

main {
    grid-area: main;
    & #article-container {
        & article {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }
}

aside {
    grid-area: aside;
    width: 7rem;
    & a {
        display: block;
    }
}

footer {
    grid-area: footer;
    position: sticky;
    bottom: 0;
    background-color: lightskyblue;
    opacity: 0.8;
    width: 100%;
    & img {
        max-height: 2rem;
        width: auto;
        margin: 0.5rem;
    }
}