body {
    font-family: 'Malgun Gothic', sans-serif;
    line-height: 1.5;
    display: grid;
    grid-template-columns: 10rem 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "header header"
        "aside main";
    overflow: auto;
}

header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: lightskyblue;
    position: sticky;
    top: 0;
    opacity: 0.8;

    & h1 {
        margin: 0;
        flex-shrink: 0;
    }

    & h1 + a {
        margin-left: auto;
    }

    & a {
        margin: 0.5rem;
    }

    & img {
        height: 1rem;
        vertical-align: middle;
    }
}

aside {
    grid-area: aside;
    position: fixed;
    padding-top: 7rem;
    width: 8rem;

    & > a {
        display: block;
        margin: 0.5rem;
        border-radius: 0.5rem;
        padding: 0.5rem;
        text-decoration: none;
        color: black;
        background-color: lightblue;
    }

    & .dropdown {
        position: relative;
        width: 100%;

        & > a {
            display: block;
            margin: 0.5rem;
            border-radius: 0.5rem;
            padding: 0.5rem;
            text-decoration: none;
            color: black;
            background-color: lightblue;
        }

        & .menu {
            display: none;
            position: absolute;
            top: 100%;
            width: 100%;
            background: white;
            z-index: 999;

            & > a {
                display: block;
                margin: 0.5rem;
                border-radius: 0.5rem;
                padding: 0.5rem;
                text-decoration: none;
                color: black;
            }

            & > a:hover {
                background-color: lightgray;
            }
        }
    }

    & .dropdown:hover {
        & .menu {
            display: block;
        }
    }
}

main {
    grid-area: main;

    & #article-container {
        background-color: white;
        z-index: 0;

        & h2 {
            background-color: gray;
        }

        & article {
            display: grid;
            grid-template-columns: 1fr 1fr;

            & section {
                background-color: rgba(10, 239, 211, 0.1);
                border-radius: 1rem;
                margin: 0.5rem;
                padding: 0.5rem;
            }

            & pre {
                word-wrap: break-word;
                white-space: pre-wrap;
            }

            & code {
                display: block;
                font-size: 12px;
                line-height: 2;
                margin: 0.5rem;
                padding: 0.5rem;
                background-color: lightgray;
                border-radius: 1rem;
            }

            & img {
                max-width: 100%;
            }
        }

        & .reference {
            float: right;
            margin: 1rem;
            text-decoration: none;
            color: black;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}