.card {
    display: flex;

    border: 1px solid var(--cyber-white);
    border-radius: 12px;
    padding: 30px;
    width: 20rem;
    height: 10rem;

    flex-direction: column;
    gap: 30px;

    color: var(--cyber-white);

    background-color: var(--cyber-black);
}

.cardHeader {
    padding: 0 20px;
}

.cardContent {
    padding: 0 20px;
}

.cardTitle {
    margin: 0;
}

.cardDescription {
    color: var(--cyber-gray);
}