.container {
  --direction: ;
  display: flex;
  flex-direction: var(--direction);
}

.button {
  --margin: ;
  margin: var(--margin);
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  width: 1.5rem;
  height: 1.5rem;
}
