.underliner {
  position: relative;

  padding: 1px;

  color: var(--cyber-white);
}

.underliner::after {
  position: absolute;
  bottom: 0;
  left: 0;

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease;

  background: var(--cyber-white);

  width: 100%;
  height: 0.125rem;
  content: "";
}

.underliner:hover::after {
  transform: scaleX(1);
}
