.container {
    box-sizing: border-box;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    gap: 1rem;
    z-index: 100;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0));
    padding: 1rem;
    width: 100%;
    height: 5rem;
    font-size: 0.75rem;
}

.searchRow {
    display: flex;
    column-gap: 0.5rem;
    align-items: center;
    margin: 0;
    padding: 0;
}

.searchInput {
    outline: none;
    border: 0;
    border-bottom: 0.125rem solid white;
    background: transparent;
    padding: 0;
    width: 10rem;
    color: inherit;
    font-family: inherit;
    font-size: 0.75rem;
}

.navigation {
    flex: 7 1 0;
}

.time {
    flex: 4 1 0;
}

.info {
    flex: 2 1 0;
}
