.container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    padding: 20px;
    width: 100%;
    height: 80px;
    box-sizing: border-box;

    gap: 20px;

    font-size: 0.75rem;

    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0));
}

.home {
    flex: 7 1 0;

    white-space: nowrap;
}

.time {
    flex: 4 1 0;
}

.info {
    flex: 2 1 0;
}