.container {
    padding: 5rem 1rem 0rem 1rem;
}

.list {
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    gap: 0.5rem;
    padding-right: 100vw;
    width: 100vw;
    overflow: auto;
}

.title {
    position: relative;
    margin: 0;
    font-size: 8rem;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    align-items: center;
    margin: 0.125rem;
    border: 0.125rem solid var(--cyber-white);
    padding: 1rem;
    min-width: 20rem;
    max-width: 20rem;
}

.cardTitle {
    margin: 0.25rem 0 0;
    text-align: center;

}

.actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.75rem;
    width: 100%;
}