.container {
    padding: 5rem 1rem 0 1rem;
}

.list {
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    gap: 0.5rem;
    padding-right: 100vw;
    width: 100vw;
    overflow: auto;
}

.title {
    position: relative;
    margin: 0;
    font-size: 8rem;
}

.box {
    margin: 0.125rem;
    border: 0.125rem solid var(--cyber-white);
    padding: 0.5rem;
    min-width: 20rem;
    max-width: 20rem;
}
