main {
    & #education {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }

    & #education > :first-child {
        grid-column: 1 / -1;
    }
}
