:root {
  --neon-pink: #ff2a6d;
  --neon-yellow: #dfff00;
  --neon-green: #7fff00;
  --neon-blue: #01fff4;
  --neon-purple: #9d00ff;
  --cyber-white: #ffffff;
  --cyber-black: #000000;
}

body {
  color: var(--cyber-white);

  background-color: var(--cyber-black);
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--cyber-white);
  }
}
