:root {
  --neon-pink: #ff2a6d;
  --neon-yellow: #dfff00;
  --neon-green: #7fff00;
  --neon-blue: #01fff4;
  --neon-purple: #9d00ff;
  --cyber-white: #ffffff;
  --cyber-black: #000000;
}

html {
  color: var(--cyber-white);

  background-color: var(--cyber-black);
}