:root {
    --neon-pink: #FF2A6D;
    --neon-yellow: #DFFF00;
    --neon-green: #7FFF00;
    --neon-blue: #01FFF4;
    --neon-purple: #9D00FF;
    --cyber-white: #FFFFFF;
    --cyber-navy: #0B0B2C;
    --cyber-black: #000000;
}

body {
    background-color: var(--cyber-black);
    color: var(--cyber-white);
}