.container {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;

    padding: 20px;
    width: 100%;
    height: 80px;
    box-sizing: border-box;

    gap: 20px;

    font-size: 0.75rem;

    background: linear-gradient(to top, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0));
}

.empty {
    flex: 6 1 0;
}

.location {
    flex: 2 1 0;
}

.contacts {
    flex: 1 1 0;
}

.link {
    font-style: normal;
    text-decoration: none;
}