body {
    font-family: sans-serif;
    line-height: 1.5;
    display: grid;
    grid-template-columns: 10rem 1fr;
    grid-template-rows: 5rem 1fr;
    grid-template-areas:
        "header header"
        "aside main";
    overflow: auto;
}