.container {
    position: relative;

    padding: 80px 0;
    height: 100vh;
    box-sizing: border-box;
}

.title {
    position: relative;

    margin: 0;

    font-size: 7rem;
}

.link {
    position: relative;

    margin: 1px;
    border: 1px solid var(--cyber-white);
    padding: 10px;
}

.description {
    position: absolute;
    bottom: 80px;

    margin: 0;

    font-size: 2rem;
}

.scrollbar {
    position: fixed;
    top: 50%;
    left: 95%;

    transform: translate(-50%, -50%);
}