.button {
    border-radius: 12px;
    padding: 8px;

    justify-content: center;
    align-items: center;

    font-family: inherit;
    font-size: 1rem;
    color: var(--cyber-white);

    background-color: var(--cyber-black);
}

.button:disabled {
    opacity: 0.5;

    pointer-events: none;
}