.article {
  display: flex;
  flex-flow: column nowrap;
}

.container {
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  padding-right: 100vw;
  width: 100vw;
  overflow: auto;
}

.card {
  margin: 1px;
  border: 1px solid var(--cyber-white);
  padding: 10px;
  min-width: 20rem;
  max-width: 20rem;
}
