.button {
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  background-color: var(--cyber-black);
  padding: 8px;
  color: var(--cyber-white);
  font-family: inherit;
  font-size: 1rem;
}

.button:disabled {
  opacity: 0.5;
  pointer-events: none;
}
