.card {
  display: flex;

  flex-direction: column;
  gap: 30px;

  border: 1px solid var(--cyber-white);
  border-radius: 12px;

  background-color: var(--cyber-black);
  padding: 30px;
  width: 20rem;
  height: 10rem;

  color: var(--cyber-white);
}

.cardHeader {
  padding: 0 20px;
}

.cardContent {
  padding: 0 20px;
}

.cardTitle {
  margin: 0;
}

.cardDescription {
  color: var(--cyber-gray);
}
