.container {
  box-sizing: border-box;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;

  gap: 20px;
  z-index: 100;

  background: linear-gradient(to top, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0));

  padding: 20px;
  width: 100%;
  height: 80px;

  font-size: 0.75rem;
}

.auth {
  flex: 6 1 0;
}

.location {
  flex: 2 1 0;
}

.contacts {
  flex: 1 1 0;
}

.link {
  text-decoration: none;
  font-style: normal;
}
